* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 10px 0;
}

form {
  background: #1b1b32cc;
  width: 70%;
  margin: 3rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.main-header,
.main-footer {
  display: flex;
  flex-direction: column;
  background: #1b1b32cc;
  padding: 50px 10px;
  text-align: center;
  color: #ffffff;
}

.main-header p {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

