* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 10px 0;
}

form {
  background: #1b1b32cc;
  width: 70%;
  margin: 3rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
  color: #eeeeee;
}
.main-header,
.main-footer {
  display: flex;
  flex-direction: column;
  background: #1b1b32cc;
  padding: 50px 10px;
  text-align: center;
  color: #ffffff;
}

.main-header h1 {
  font-size: 3rem;
  padding-bottom: 0;
}

.main-header p {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  margin-bottom: 1rem;
}

.option-text {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Open Sans Condensed", sans-serif;
}

form input,
#dropdown,
#role,
#input-textarea,
#carrier-path {
  padding: 10px;
  margin: 5px 0;
}

#submit {
  background-color:  #383838;
  border-radius: 0.2rem;
  padding: 0.7rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #eeeeee;
}

#submit:hover {
  background:#999999 ;
}

@media all and (max-width: 895px){

  h1#title {
    font-size: 2.3rem;

  }

.main-header p {
  font-size: 1.2rem;
}

label {
  font-size: 1.1rem;
}

}

@media all and (max-width: 768px){

h1#title {
  font-size: 2rem;

}

.main-header p {
  font-size: 1rem;
}
}


@media all and (max-width: 645px){
  h1#title span:last-child{
    display: block;
    margin-top: 15px;
    
  }
  .main-header p {
    font-size: 0.8rem;
  }
  
  form {
    width: 90%;
  }
  }
  
  
  @media all and (max-width: 410px){
    h1#title {
      font-size: 1.3rem;
      
    }
    
    .main-header p span{
      font-size: 0.8rem;
      display: block;
    }
  
    .option-text {
      font-size: 1rem;
    }
  
    .main-footer p{
      font-size: 0.6rem;
    }
  }